		table, tr, td {
			border:0;
		}
		th {
			border:1px solid black;
			border-collapse:collapse;
		}
		span {
			font-family:sans-serif;
		}
		@font-face {
    			font-family: CustomFont;
    			src: url(SlicedbyHand.ttf);
		}
		li {
			font-style:italic;
		}
