@font-face {
    	font-family: CustomFont;
    	src: url(SlicedbyHand.ttf);
}
body, input, textarea {
	font-family:cursive;
}
.footer {
	border:0;
	width:100%;
	text-align:center;
	padding:10px;
}
.header {
	border:0;
	text-align:center;
	padding:10px;
}
#PageTop, #PageBottom {
	background-color: LemonChiffon;
}
#PageBody {
	background-color: #ccffff
}